# PROBLEM SET 2 
## Name : Rohit Varma Tirumalaraju
## SID : 200490483
## BDAT 1004 â€“ Data Programming PS2

# Question 1


Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
print(a)

6

# Explaination:
In the given python  module, 'a' is defined as a global variable inside the 'b()' function. When we use the b() method, it executes another function called c(a), which increments the value of 'a' by 2 for each iteration. As a result, the value of 'a' after three calls to the b() method is 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [9]:
def file_length(filename): 
    try:         
        file = open(filename,"r")
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File '" +filename+ "' not found. ")
        
file_length("C:\\Users\\dedee\\Downloads\\PS2\\Filelength.txt.txt")
file_length("idterm.py")

123
File 'idterm.py' not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [11]:
class Marsupial:
    # gets the list of marsupial animals so far included

    def __init__(self):
        self._animalsList = [] 
        
    def put_in_pouch(self,animal):
        self._animalsList  = self._animalsList + [animal]   
        
    def pouch_contents(self):
        return self._animalsList
    
m = Marsupial() 
m.put_in_pouch('Doll')
m.put_in_pouch('Firetruck')
m.put_in_pouch('Kitten')
m.pouch_contents()

['Doll', 'Firetruck', 'Kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [12]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):  
        self.x += dx
        self.y += dy 
        
    def __str__(self): 
        return "I am a kangaroo located at coordinates ({},{})".format(self.x, self.y)

In [13]:
k = Kangaroo(0,0) 
print(k)

I am a kangaroo located at coordinates (0,0)

In [14]:
k.put_in_pouch('Doll') 
k.put_in_pouch('Firetruck')
k.put_in_pouch('Kitten')
k.pouch_contents()

['Doll', 'Firetruck', 'Kitten']

In [9]:
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [15]:
def collatz(x):
   
    if(type(x) == int and x >0):
        if x <=1:         
            print(int(x))
        else:            
            if(x % 2 == 0):
                print(int(x))             
                collatz(int(x/2))
            else:
                print(int(x))            
                collatz(int(3*x+1))
    else:            
        print(x+ "is not a positive integer")

In [44]:
collatz(1)

1

In [45]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [20]:
def binary(x):  
    if x<=-1:
        print('{}'.format(x), "is not non-negative number or not integer")
    else: 
        print(format(x,"b")) #The format() method returns a formated version in specified format.

In [21]:
binary(0)

0

In [22]:
binary(1)

1

In [23]:
binary(3)

11

In [24]:
binary(9)

1001

In [25]:
binary(-10)

-10 is not non-negative number or not integer

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [48]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading = False
        self.indent = 0    

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.heading=True
        elif tag == 'h2':
            self.heading=True
            self.indent=1
            
    def handle_data(self,content):
        if (self.heading and self.indent ==0):   
            print(content) #prints h1
        elif (self.heading and self.indent ==1): 
            print(' ',content)    #prints h2

In [50]:
infile = open("C:\\Users\\dedee\\Downloads\\PS2\w3c.txt.txt", "r")
content = infile.read()
infile.close()
headingparser = HeadingParser() 
headingparser.feed(content)

W3C Mission


  Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [28]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

    
def analyze(url):
    
    if len(visited) ==1:
        print(url)
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()         
    return urls


visited= set()

def webdir(url,depth,indent):
   
    first_url=url
    global visited 
    visited.add(url)

    links = analyze(url)
    for link in links:
        if link not in visited:
            try:                
                if len(visited) <= depth:
                    if len(visited) <= (depth-1):
                        print( (depth-1)*'\t',link)
                    print( indent*'\t',link)
                webdir(link,depth,indent)                
            except:
                pass

webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
	 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [29]:
import sqlite3
con = sqlite3.connect('TempandRaindata.db')
cur = con.cursor()
cur.execute('DROP TABLE IF EXISTS TempandRaindata')
cur.execute(''' CREATE TABLE TempandRaindata(
            City text,
            Country text,
            Season text,
            Temperature float,
            Rainfall float
                                    )
            ''')
cur.execute('''
INSERT INTO TempandRaindata (City, Country, Season,Temperature, Rainfall)
VALUES
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
'''
)
con.commit() 
#check inserted data
for row in cur.execute('SELECT * FROM TempandRaindata ORDER BY Temperature'):
        print(row)

('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Spring', 28.4, 16.2)

### a) All the temperature data.

In [30]:
cur.execute("SELECT Temperature FROM TempandRaindata")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b) All the cities, but without repetition.

In [31]:
cur.execute("SELECT Distinct City FROM TempandRaindata")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

### c) All the records for India.

In [32]:
cur.execute("SELECT * FROM TempandRaindata WHERE Country = 'India' ")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### d) All the Fall records

In [33]:
cur.execute("SELECT * FROM TempandRaindata WHERE Season = 'Fall' ")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [34]:
cur.execute("SELECT City, Country, Season FROM TempandRaindata WHERE Rainfall BETWEEN 200 AND 400 ")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [35]:
cur.execute("SELECT City, Country FROM TempandRaindata WHERE Season = 'Fall' AND Temperature>20 ORDER BY Temperature ")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### g) The total annual rainfall for Cairo.

In [36]:
cur.execute("SELECT SUM(Rainfall) FROM TempandRaindata WHERE City = 'Cairo' ")
cur.fetchall()

[(27.6,)]

### h) The total rainfall for each season.

In [37]:
cur.execute('SELECT SUM(Rainfall),Season FROM TempandRaindata GROUP BY Season' )
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9

Suppose list words is defined as follows:
>words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

>>Write list comprehension expressions that use list words and generate the following
lists:

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [39]:
wordsupper = [word.upper()  for word in words]
wordsupper

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [40]:
wordslower = [word.lower()  for word in words]
wordslower

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [41]:
wordslen = [len(word)  for word in words]
wordslen

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [42]:
wordsULL = [[word.upper(),word.lower(),len(word)] for word in words]
wordsULL

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [43]:
lenword4 = [word for word in words if len(word)>=4]
lenword4

['quick', 'brown', 'jumps', 'over', 'lazy']